* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
button {
  padding: 0.5rem;
  margin: 1rem;
}
p {
  font-size: 2rem;
  color: rgb(77, 77, 205);
}
hr {
  padding: 0.5rem;
  border: none;
}
input {
  margin-left: 1rem;
}
